---
import Layout from "../layouts/Layout.astro";
import nosotros from "../img/nosotros.jpg";
---

<Layout
  title="Nosotros"
  description="Pagina de tienda de instrumentos musicales"
>
  <main class="contenedor">
    <h1 class="heading">Nosotros</h1>

    <div class="contenido">
      <img src={nosotros} alt="Imagen sobre nosotros" />

      <div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis vel
          alias voluptatem nisi aliquam similique officiis laborum voluptas eum
          nemo quae, minus saepe beatae repudiandae ipsam iste tenetur quidem
          fugiat!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis vel
          alias voluptatem nisi aliquam similique officiis laborum voluptas eum
          nemo quae, minus saepe beatae repudiandae ipsam iste tenetur quidem
          fugiat!Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Corporis vel alias voluptatem nisi aliquam similique officiis laborum
          voluptas eum nemo quae, minus saepe beatae repudiandae ipsam iste
          tenetur quidem fugiat!
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .contenido {
    display: grid;
    gap: 4rem;
  }
  @media (min-width: 768px) {
    .contenido {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
</style>
